src/Client/Connected Services/InvoiceServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InvoiceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInvoiceService_SubmitInvocie_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitInvocie" />
  </wsdl:message>
  <wsdl:message name="IInvoiceService_SubmitInvocie_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitInvocieResponse" />
  </wsdl:message>
  <wsdl:message name="IInvoiceService_GetStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatus" />
  </wsdl:message>
  <wsdl:message name="IInvoiceService_GetStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IInvoiceService_GetInvoices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoices" />
  </wsdl:message>
  <wsdl:message name="IInvoiceService_GetInvoices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoicesResponse" />
  </wsdl:message>
  <wsdl:portType name="IInvoiceService">
    <wsdl:operation name="SubmitInvocie">
      <wsdl:input wsaw:Action="http://tempuri.org/IInvoiceService/SubmitInvocie" message="tns:IInvoiceService_SubmitInvocie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInvoiceService/SubmitInvocieResponse" message="tns:IInvoiceService_SubmitInvocie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IInvoiceService/GetStatus" message="tns:IInvoiceService_GetStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInvoiceService/GetStatusResponse" message="tns:IInvoiceService_GetStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoices">
      <wsdl:input wsaw:Action="http://tempuri.org/IInvoiceService/GetInvoices" message="tns:IInvoiceService_GetInvoices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInvoiceService/GetInvoicesResponse" message="tns:IInvoiceService_GetInvoices_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInvoiceService" type="tns:IInvoiceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitInvocie">
      <soap:operation soapAction="http://tempuri.org/IInvoiceService/SubmitInvocie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap:operation soapAction="http://tempuri.org/IInvoiceService/GetStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoices">
      <soap:operation soapAction="http://tempuri.org/IInvoiceService/GetInvoices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InvoiceService">
    <wsdl:port name="BasicHttpBinding_IInvoiceService" binding="tns:BasicHttpBinding_IInvoiceService">
      <soap:address location="http://localhost:7070/invoice/basic" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>